<div ng-controller="AnimationCtrl">
    <div style="display:inline-block;margin-right:7px;cursor:pointer;" template-url="/img/collectData-01.svg" ng-click="" animation-result>
    </div>
</div>

<div class="import" apply-change>

    <!-- <textarea name="" placeholder="" ng-model="svgImage[0]"></textarea> -->


    <div style="width:100%">
        <div style="width:70%;display:inline-block">
            <div style="display:inline-block;margin-right:7px;cursor:pointer;" template-url="/img/collectData-01.svg" ng-click="" import-svg>
            </div>
        </div>
        <div style="width:20%;display:inline-block;vertical-align:top">
            <div style="height:200px;overflow-y:scroll;width:300px">
                {{attributesName}}
                <div ng-repeat="attr in editTree.currentNode.element.attributes">
                    {{attr.name}} :
                    <input type="text" name="userName" placeholder="attr.value" ng-model="attr.value">
                </div>
            </div>
            <div style="height:200px;overflow-y:scroll;width:300px;vertical-align:top">
                <span><b>Selected Node</b> : {{editTree.currentNode.name}}</span>
                <div data-angular-treeview="true" data-tree-id="editTree" data-tree-model="svg" data-node-id="name" data-node-label="name" data-node-children="children">
                </div>
            </div>
        </div>


        <div style="width:70%;display:inline-block">
            <div ng-repeat="singleState in stateList">
                <div ng-click="state($index + 1)">{{singleState}}</div>
                <input type="" name="" placeholder="" ng-model="durations[$index]">
            </div>
            <div ng-click="createState()">addState</div>
            <!-- <div ng-click="saveStates()">save</div> -->
            <!-- <div ng-click="loadFromObject()">load</div> -->
            <div id="export" ng-click="export()">export</div>
            <!--  <input type="text" name="userName" placeholder="editTree.currentNode.element.style.fill" ng-model="editTree.currentNode.element.style.fill"> -->
        </div>
        <div style="width:20%;display:inline-block;vertical-align:top">
            <textarea type="" name="" placeholder="" ng-model="savedObject" />
            <div ng-click="saveStates()">save</div>
            <div ng-click="loadFromObject(svg[0],savedObject)">load</div>
        </div>
    </div>

</div>
